{% extends "layout/default.html" %}


{% block content %}


<section class="hero is-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Features
			</h1>
		</div>
	</div>
</section>

<div class="container">
	<p>
		Welcome to our URL shortener!

		To create a URL, go to the "generate" page. There you can:

		Create a shortened URL for a website of your choosing!

		We create a code which you can append to our website that redirects to yours!

		You may also specify your own URL to the same effect. 

		On the "My URLs" page, you can view your created URLs, as well as some basic information about them. If you no longer need your URL, you may also delete it there. 
	</p>
</div>


{% endblock %}
