{% extends "layout/default.html" %}


{% block content %}


<div class="hero is-primary">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				Forget Password
			</h1>
		</div>
	</div>
</div>

<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-half is-offset-one-quarter">
				<form method="POST">
					<div class="error">{{ message }}</div>
					<div class="field">
                            <div class="field">  <label class="label">Email</label> </div>
                            <div class="field-body">
                                <div class="control">
                                    <input class="input" name="email" type="email" placeholder="Enter Email" required>
                                 </div>
                            </div>  
                        </div>  
                        <br>
                        <div class="field">
                            <div class="field-label">   </div>
                             <div class="field-body">
                                <div class="control">
                                    <input type="submit" value="Send" class="button is-success" name="submit">
                                </div>
                            </div>
                        </div>  
                          <div class="field">
                            <div class="field-label">   </div>
                             <div class="field-body">
                                <div class="control_link">
                                    Already reset you password? <a href="/login" class="to_signup"> Login </a>
                                </div>
                            </div>
                        </div>  
				</form>
			</div>
		</div>
	</div>
</section>


{% endblock %}
